.arrowWrap {
	position: absolute;
	top: 1rem;
	left: 3%;
	display: flex;
	justify-content: flex-end;
}

.arrow {
	width: 60px;
	height: 40px;
	border-radius: 0.5rem;
	background-color: lightgray;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
	transition: .1s;
}

.arrow:hover {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}